@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    display: flex;
    justify-content: space-between;
    /* logo와 inner를 header 넓이 안에서 좌우 끝으로 배치 */
    height: 100px;
    margin: 0 40px;
}
header .logo {
    margin: 35px 0 0 0; /* 아래 여백 X  header logo는 아래와 왼쪽는 여백이 아니다. 자기 꺼 아님*/
}

header .inner {
    display: flex; /* gub shop 을 좌우로 */
    align-items: center;
    gap: 51px;
}
header .inner .gnb ul {
    display: flex;
}
header .inner .gnb ul li a {
    display: block; /* a의 필수값 */
    font-size: 20px;
    color: #1d1d1d;
    line-height: 100px; /* header의 높이랑 1차메뉴의 a의 높이는 같아야함
    a에 행간을 header의 높이 값으로 줌 / a에 높이가 생기고 글자는 위아래 가운데 정렬 */
    padding: 0 23px;
}
header .inner .shop {
    display: block;
    font-size: 20px;
    border: 1px solid #28955E;
    border-radius: 24px;
    color: #28955E;
    padding: 4px 35px;
}


.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 800px;
    margin: 0 40px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
}
.visual h2 {
    font-size: 50px;
    font-weight: 700;
    padding: 282px 0 35px 0;
}


.product {
    margin: 182px 0 0 0;
}
.product .tit h2 {
    color: #28955E;
}
.product .tit p {
    font-size: 40px;
    font-weight: 700;
    margin: 3px 0 0 0;
}
.product .list {
    margin: 33px 0 0 0;
}
.product .list ul {
    display: flex;
    justify-content: space-between;
}
.product .list ul li {
    width: 297px;
}
.product .list ul li a {
    display: block;
}
.product .list ul li a .photo {
    font-size: 0;
    line-height: 0;
    /* 이미지 하단에 여백을 삭제하기 위해서
    img태그에 직접 주면 적용X
    img태그만 감싸는 요소에 줘야함 */
}
.product .list ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 23px 0 0 5px; 
    white-space: nowrap; /* 1줄로 제한(글이 길면) */
    overflow: hidden; /* 글자가 넘으면 지정 테두리 안에 잘린다.*/
    text-overflow: ellipsis; /* 잘린 글자를 딱 떨어지게 잘라준다. */
}


.network {
    background: url(../images/network_bg.jpg) no-repeat center center / cover;
    height: 800px;
    text-align: center;
    color: #fff;
    margin: 182px 0 0 0;
}
.network h2 {
    color: #28955E;
    padding: 183px 0 0 0;
}
.network .sub_tit {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 20px 0;
}
.network a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 12px 44px;
    margin: 52px 0 0 0;
    color: rgb(225,225,225,0.8);
}


.community {
    margin: 180px 0 0 0;
}
.community .tit h2 {
    color: #28955E;
}
.community .tit p {
    font-size: 40px;
    font-weight: 700;
    margin: 5px 0 0 0;
}
.community .list {
    margin: 50px 0 0 0;
    display: flex; /* group를 좌우로 배치 */
    justify-content: space-between; /* 양쪽 끝에 배치 */
}
/* width = 높이는 안 준다 넓이를 주면 저절로 넓이로 맞춰짐 */
.community .list .group {
    width: calc(50% - 6px); /* 몇 등분으로 분할하는지 
    몇 개 분할 : 2개 = 100/2 = 50%
    사이의 여백의 총합 / 분할하는 갯수로 나눔 = 12px 이면 12 / 2 = 6px */
}
.community .list .group ul {
    display: flex; /* li를 좌우에 배치 */
    flex-wrap: wrap; /* li가 2줄로 나타는 걸 허락 */
    gap: 12px; /* 사이의 여백을 주는 것 */
}

.community .list .group ul li a {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/*  1.li의 사이즈와 a의 사이즈가 동일해야 할 때
    2. height를 꼭 줘야 하는 디자인 일 때 (위에 product는 높이가 필요없는 디자인)
    --li에는 넓이를 주고 a에는 높이를 줌 */

.community .list .group ul li.color,
.community .list .group ul li.gray {
    width: calc(50% - 6px);
}
.community .list .group ul li.color a,
.community .list .group ul li.gray a {
    height: 250px;
}
.community .list .group ul li.color a {
    color: #fff;
}


.community .list .group ul li.gray a {
    background-color: #EDEDED;
    color: #3d3d3d;
}
.community .list .group ul li.color.bg1 a {
    background-color: #28955E;
}
.community .list .group ul li.color.bg2 a {
    background-color: #2D2D2D;
}


.community .list .group ul li.review {
    width: 100%; /* 감싸는 요소에(ul)의 넓이의 100%가 들어감 */
}

.community .list .group ul li.review a {
    height: 400px;
    color: #fff;
}
.community .list .group ul li.review.bg1 a {
    background: url(../images/community_bg1.jpg) no-repeat center center / cover;
}
.community .list .group ul li.review.bg2 a {
    background: url(../images/community_bg2.jpg) no-repeat center center / cover;
}

.community .list .group ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    /* 1줄 제한 */
    white-space: nowrap; /* 1줄로 제한(글이 길면) */
    overflow: hidden; /* 글자가 넘으면 지정 테두리 안에 잘린다.*/
    text-overflow: ellipsis; /* 잘린 글자를 딱 떨어지게 잘라준다. */
    margin:  0 0 17px 0;
}
.community .list .group ul li a .date {
    display: flex;
    gap: 20px;
}


.community .list .group ul li.color a .date,
.community .list .group ul li.review a .date {
    color: rgb(225,225,225,0.8);
}

.community .list .group ul li.gray a .date {
    color: #666;
}


footer {
    margin: 118px 0 0 0;
    background-color: #1d1d1d;
    padding: 60px 0 60px 0;
}
footer .f_nav {
    border-bottom: 1px solid  rgb(225,225,225,0.2);
    padding: 0 0 20px 0;
    color: rgb(225,225,225,0.8);
}
footer .f_nav ul {
    display: flex;
    gap: 35px;
}
footer .f_info {
    margin: 20px 0 15px 0;
    line-height: 1.8;
    color: rgb(225,225,225,0.8);
}
footer .f_info .group {
    display: flex;
    gap: 15px;
}
footer .copyright {
    color: rgb(225,225,225,0.6);
}