@import url(default.css);
@import url(font.css);
@import url(res_common.css);

header {
    position: fixed; /* 상단 고정 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    transition: 0.5s;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 140px;
    height: 47px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* contain - 로고를 안 짤리고 영역에 맞게 리사이즈 */
    transition: 0.5s;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴 */
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex; /* 1차메뉴 li를 좌우로 */
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    /* 1차메뉴 a */
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 90px; /* header의 높이와 동일 */
    color: #fff;
    padding: 0 35px;
    transition: 0.5s;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: none; /* 숨김 */
}
header .tnb .search {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_88' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_88)'%3E%3Cpath d='M17.5 17.5C15.8959 17.5 14.5226 16.9288 13.3802 15.7865C12.2379 14.6441 11.6667 13.2708 11.6667 11.6667C11.6667 10.0625 12.2379 8.68923 13.3802 7.54687C14.5226 6.40451 15.8959 5.83333 17.5 5.83333C19.1042 5.83333 20.4775 6.40451 21.6198 7.54687C22.7622 8.68923 23.3334 10.0625 23.3334 11.6667C23.3334 13.2708 22.7622 14.6441 21.6198 15.7865C20.4775 16.9288 19.1042 17.5 17.5 17.5ZM5.83337 26.25V25.0833C5.83337 24.2569 6.04605 23.4974 6.47139 22.8047C6.89674 22.112 7.46185 21.5833 8.16671 21.2187C9.67365 20.4653 11.2049 19.9002 12.7605 19.5234C14.316 19.1467 15.8959 18.9583 17.5 18.9583C19.1042 18.9583 20.6841 19.1467 22.2396 19.5234C23.7952 19.9002 25.3264 20.4653 26.8334 21.2187C27.5382 21.5833 28.1033 22.112 28.5287 22.8047C28.954 23.4974 29.1667 24.2569 29.1667 25.0833V26.25C29.1667 27.0521 28.8811 27.7387 28.3099 28.3099C27.7388 28.8811 27.0521 29.1667 26.25 29.1667H8.75004C7.94796 29.1667 7.26133 28.8811 6.69014 28.3099C6.11896 27.7387 5.83337 27.0521 5.83337 26.25ZM8.75004 26.25H26.25V25.0833C26.25 24.816 26.1832 24.5729 26.0495 24.3542C25.9158 24.1354 25.7396 23.9653 25.5209 23.8438C24.2084 23.1875 22.8837 22.6953 21.5469 22.3672C20.2101 22.0391 18.8612 21.875 17.5 21.875C16.1389 21.875 14.79 22.0391 13.4532 22.3672C12.1164 22.6953 10.7917 23.1875 9.47921 23.8438C9.26046 23.9653 9.08424 24.1354 8.95056 24.3542C8.81688 24.5729 8.75004 24.816 8.75004 25.0833V26.25ZM17.5 14.5833C18.3021 14.5833 18.9888 14.2977 19.5599 13.7266C20.1311 13.1554 20.4167 12.4687 20.4167 11.6667C20.4167 10.8646 20.1311 10.178 19.5599 9.60677C18.9888 9.03559 18.3021 8.75 17.5 8.75C16.698 8.75 16.0113 9.03559 15.4401 9.60677C14.869 10.178 14.5834 10.8646 14.5834 11.6667C14.5834 12.4687 14.869 13.1554 15.4401 13.7266C16.0113 14.2977 16.698 14.5833 17.5 14.5833Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35px;
    transition: 0.5s;
}

/*********************** header가 고정되었을 때 **********************/
header.fixed {
    
    border-bottom: 0;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0 ,0, 0.3);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
    /* background로 선언하고 배경이미지, 반복, 위치, 크기를
    지정했는데 이때 이미지만 변경하려만 반드시 background-image라고 속성을 쓰고 변경해야 함
    background라고 하면 모든 반복, 위치, 크기 등의 다른 속성이 취소됨.. */
}
header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
    color: #1d1d1d;
}
header.fixed .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_94' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_94)'%3E%3Cpath d='M17.5 17.5C15.8958 17.5 14.5226 16.9288 13.3802 15.7865C12.2379 14.6441 11.6667 13.2708 11.6667 11.6667C11.6667 10.0625 12.2379 8.68923 13.3802 7.54687C14.5226 6.40451 15.8958 5.83333 17.5 5.83333C19.1042 5.83333 20.4774 6.40451 21.6198 7.54687C22.7622 8.68923 23.3333 10.0625 23.3333 11.6667C23.3333 13.2708 22.7622 14.6441 21.6198 15.7865C20.4774 16.9288 19.1042 17.5 17.5 17.5ZM5.83334 26.25V25.0833C5.83334 24.2569 6.04602 23.4974 6.47136 22.8047C6.89671 22.112 7.46182 21.5833 8.16668 21.2187C9.67362 20.4653 11.2049 19.9002 12.7604 19.5234C14.316 19.1467 15.8958 18.9583 17.5 18.9583C19.1042 18.9583 20.684 19.1467 22.2396 19.5234C23.7951 19.9002 25.3264 20.4653 26.8333 21.2187C27.5382 21.5833 28.1033 22.112 28.5287 22.8047C28.954 23.4974 29.1667 24.2569 29.1667 25.0833V26.25C29.1667 27.0521 28.8811 27.7387 28.3099 28.3099C27.7387 28.8811 27.0521 29.1667 26.25 29.1667H8.75001C7.94793 29.1667 7.26129 28.8811 6.69011 28.3099C6.11893 27.7387 5.83334 27.0521 5.83334 26.25ZM8.75001 26.25H26.25V25.0833C26.25 24.816 26.1832 24.5729 26.0495 24.3542C25.9158 24.1354 25.7396 23.9653 25.5208 23.8438C24.2083 23.1875 22.8837 22.6953 21.5469 22.3672C20.2101 22.0391 18.8611 21.875 17.5 21.875C16.1389 21.875 14.7899 22.0391 13.4531 22.3672C12.1163 22.6953 10.7917 23.1875 9.47918 23.8438C9.26043 23.9653 9.08421 24.1354 8.95053 24.3542C8.81685 24.5729 8.75001 24.816 8.75001 25.0833V26.25ZM17.5 14.5833C18.3021 14.5833 18.9887 14.2977 19.5599 13.7266C20.1311 13.1554 20.4167 12.4687 20.4167 11.6667C20.4167 10.8646 20.1311 10.178 19.5599 9.60677C18.9887 9.03559 18.3021 8.75 17.5 8.75C16.6979 8.75 16.0113 9.03559 15.4401 9.60677C14.8689 10.178 14.5833 10.8646 14.5833 11.6667C14.5833 12.4687 14.8689 13.1554 15.4401 13.7266C16.0113 14.2977 16.6979 14.5833 17.5 14.5833Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
/****************************************************************/

@media screen and (max-width:640px) {
        header {
            height: 56px;
            border-bottom: 0;
        }
        header .wrapper {
            margin-right: 0;
            /* 오른쪽 여백 삭제 - gnb_open 배치하려고 */
        }
        header .logo a {
            width: 95px;
            height: 32px;
        }
        header .gnb .gnb_open {
            display: block; /* 모바일에서만 나옴 */
            width: 56px;
            height: 56px;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_309' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_309)'%3E%3Cpath d='M4.60425 7.58334C4.37404 7.58334 4.18112 7.50543 4.02548 7.34961C3.86966 7.19379 3.79175 7.00077 3.79175 6.77056C3.79175 6.54018 3.86966 6.34725 4.02548 6.19179C4.18112 6.03616 4.37404 5.95834 4.60425 5.95834H21.3959C21.6261 5.95834 21.819 6.03625 21.9747 6.19207C22.1305 6.34788 22.2084 6.5409 22.2084 6.77111C22.2084 7.0015 22.1305 7.19442 21.9747 7.34988C21.819 7.50552 21.6261 7.58334 21.3959 7.58334H4.60425ZM4.60425 20.0417C4.37404 20.0417 4.18112 19.9638 4.02548 19.8079C3.86966 19.6521 3.79175 19.4591 3.79175 19.2289C3.79175 18.9985 3.86966 18.8056 4.02548 18.6501C4.18112 18.4945 4.37404 18.4167 4.60425 18.4167H21.3959C21.6261 18.4167 21.819 18.4946 21.9747 18.6504C22.1305 18.8062 22.2084 18.9992 22.2084 19.2294C22.2084 19.4598 22.1305 19.6528 21.9747 19.8082C21.819 19.9638 21.6261 20.0417 21.3959 20.0417H4.60425ZM4.60425 13.8125C4.37404 13.8125 4.18112 13.7346 4.02548 13.5788C3.86966 13.423 3.79175 13.2299 3.79175 12.9997C3.79175 12.7693 3.86966 12.5764 4.02548 12.421C4.18112 12.2653 4.37404 12.1875 4.60425 12.1875H21.3959C21.6261 12.1875 21.819 12.2654 21.9747 12.4212C22.1305 12.5771 22.2084 12.7701 22.2084 13.0003C22.2084 13.2307 22.1305 13.4236 21.9747 13.579C21.819 13.7347 21.6261 13.8125 21.3959 13.8125H4.60425Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            transition: 0.5s;
        }
        header .gnb .gnb_wrap {
            display: none /* 숨김 */
        }
        header .tnb {
            display: none; /* 숨김 */
        }

        /*********************** header가 고정되었을 때 **********************/
        header.fixed .gnb .gnb_open {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_309' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_309)'%3E%3Cpath d='M4.60425 7.58334C4.37404 7.58334 4.18112 7.50543 4.02548 7.34961C3.86966 7.19379 3.79175 7.00077 3.79175 6.77056C3.79175 6.54018 3.86966 6.34725 4.02548 6.19179C4.18112 6.03616 4.37404 5.95834 4.60425 5.95834H21.3959C21.6261 5.95834 21.819 6.03625 21.9747 6.19207C22.1305 6.34788 22.2084 6.5409 22.2084 6.77111C22.2084 7.0015 22.1305 7.19442 21.9747 7.34988C21.819 7.50552 21.6261 7.58334 21.3959 7.58334H4.60425ZM4.60425 20.0417C4.37404 20.0417 4.18112 19.9638 4.02548 19.8079C3.86966 19.6521 3.79175 19.4591 3.79175 19.2289C3.79175 18.9985 3.86966 18.8056 4.02548 18.6501C4.18112 18.4945 4.37404 18.4167 4.60425 18.4167H21.3959C21.6261 18.4167 21.819 18.4946 21.9747 18.6504C22.1305 18.8062 22.2084 18.9992 22.2084 19.2294C22.2084 19.4598 22.1305 19.6528 21.9747 19.8082C21.819 19.9638 21.6261 20.0417 21.3959 20.0417H4.60425ZM4.60425 13.8125C4.37404 13.8125 4.18112 13.7346 4.02548 13.5788C3.86966 13.423 3.79175 13.2299 3.79175 12.9997C3.79175 12.7693 3.86966 12.5764 4.02548 12.421C4.18112 12.2653 4.37404 12.1875 4.60425 12.1875H21.3959C21.6261 12.1875 21.819 12.2654 21.9747 12.4212C22.1305 12.5771 22.2084 12.7701 22.2084 13.0003C22.2084 13.2307 22.1305 13.4236 21.9747 13.579C21.819 13.7347 21.6261 13.8125 21.3959 13.8125H4.60425Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        /****************************************************************/
} /* @media */


.visual {
    height: 100vh; /* 브라우저 높이와 동일하게 100vh */
    background: url(../images/visual_bg2.jpg) no-repeat center center / cover;
    color: #fff;
    border: 1px solid transparent;
    /* 투명한 1px border - margin이 영역 밖으로 못나게 하는 방법 */
}

.visual h2 {
    margin: 46.7vh 0 0 0; /* 420(h2위에 높이) /900(전체높이) *100 = 46.6666 */
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}

@media screen and (max-width:640px) {
        .visual h2 {
            margin: 50vh 0 0 0; 
            /* 350(h2 높이 절반(72)과 위에 나머지 높이 합=350) /700(전체높이) *100 = 50 */
            transform: translateY(-50%);
            /* 나의높이 절반을 위로 이동 */
            font-size: 30px;
        }
} /* @media */


footer {
    margin: 3000px 0 0 0;
}