@import url(default.css);
@import url(font.css);
@import url(common_full.css);

.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual .popup .popup_wrap .popup_item {
    height: 900px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .popup .popup_wrap .popup_item.bg1 {
    background-image: url(../images/popup01.jpg);
}
.visual .popup .popup_wrap .popup_item.bg2 {
    background-image: url(../images/popup02.jpg);
}
.visual .popup .popup_wrap .popup_item.bg3 {
    background-image: url(../images/popup03.jpg);
}

.visual .popup .popup_wrap .popup_item h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    padding: 415px 0 30px 0;
}
.visual .slick-prev,
.visual .slick-next {
    position: absolute;
    left: 20px;
    top: 442px;
    z-index: 10;
    width: 60px;
    height: 60px;
    color: transparent; /* 글자를 안 보이게 투명 */
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_121_251' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='60' height='60'%3E%3Crect width='60' height='60' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_121_251)'%3E%3Cpath d='M7.96147 30.0002L26.7933 48.832C27.29 49.3287 27.5321 49.9135 27.5196 50.5864C27.5067 51.2597 27.2519 51.8447 26.7552 52.3414C26.2581 52.8381 25.6731 53.0864 25.0002 53.0864C24.3273 53.0864 23.7423 52.8381 23.2452 52.3414L4.06772 33.202C3.61563 32.75 3.28063 32.2435 3.06271 31.6827C2.8448 31.1218 2.73584 30.561 2.73584 30.0002C2.73584 29.4393 2.8448 28.8785 3.06271 28.3177C3.28063 27.7568 3.61563 27.2504 4.06772 26.7983L23.2452 7.62016C23.7423 7.12349 24.3338 6.88162 25.0196 6.89453C25.7054 6.90745 26.2967 7.16224 26.7933 7.65891C27.29 8.15557 27.5383 8.74058 27.5383 9.41391C27.5383 10.0868 27.29 10.6716 26.7933 11.1683L7.96147 30.0002Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.visual .slick-next {
    left: auto;
    right: 20px;
    transform: rotate(180deg);
}
.visual ul.slick-dots {
    position: absolute; /* popup_wrap를 기준으로 정렬 */
    right: 50%;
    bottom: 40px;
    display: flex; /* li를 좌우로 배치 */
    gap: 5px;
}
.visual ul.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: transparent; /* 123숫자 글자색 투명 - 글자 안보이게 */
}
.visual ul.slick-dots li.slick-active button {
    background-color: #fff;
}

.visual .btn_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% + 10px);
    bottom: 35px;
    display: flex; /* js에서 요소에 display:inline-block을 줘서 코딩이 틀어짐 */

}

.visual .btn_wrap .ctrl_stop {
    display: none;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_132_501' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect width='8' height='8' transform='matrix(-1 0 0 1 8 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_132_501)'%3E%3Cpath d='M5.89175 4.28356C5.94175 4.25023 5.97925 4.20856 6.00425 4.15856C6.02925 4.10856 6.04175 4.05578 6.04175 4.00023C6.04175 3.94467 6.02925 3.89189 6.00425 3.84189C5.97925 3.79189 5.94175 3.75023 5.89175 3.71689L3.17508 1.99189C3.1473 1.97523 3.11814 1.96273 3.08758 1.95439C3.05703 1.94606 3.02786 1.94189 3.00008 1.94189C2.91119 1.94189 2.83341 1.97384 2.76675 2.03773C2.70008 2.10162 2.66675 2.18078 2.66675 2.27523V5.72523C2.66675 5.81967 2.70008 5.89884 2.76675 5.96273C2.83341 6.02662 2.91119 6.05856 3.00008 6.05856C3.02786 6.05856 3.05703 6.05439 3.08758 6.04606C3.11814 6.03773 3.1473 6.02523 3.17508 6.00856L5.89175 4.28356Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
}
.visual .btn_wrap .ctrl_play {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_132_470' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect width='8' height='8' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_132_470)'%3E%3Cpath d='M5.33333 6.33366C5.15 6.33366 4.99306 6.26838 4.8625 6.13783C4.73194 6.00727 4.66667 5.85033 4.66667 5.66699V2.33366C4.66667 2.15033 4.73194 1.99338 4.8625 1.86283C4.99306 1.73227 5.15 1.66699 5.33333 1.66699C5.51667 1.66699 5.67361 1.73227 5.80417 1.86283C5.93472 1.99338 6 2.15033 6 2.33366V5.66699C6 5.85033 5.93472 6.00727 5.80417 6.13783C5.67361 6.26838 5.51667 6.33366 5.33333 6.33366ZM2.66667 6.33366C2.48333 6.33366 2.32639 6.26838 2.19583 6.13783C2.06528 6.00727 2 5.85033 2 5.66699V2.33366C2 2.15033 2.06528 1.99338 2.19583 1.86283C2.32639 1.73227 2.48333 1.66699 2.66667 1.66699C2.85 1.66699 3.00694 1.73227 3.1375 1.86283C3.26806 1.99338 3.33333 2.15033 3.33333 2.33366V5.66699C3.33333 5.85033 3.26806 6.00727 3.1375 6.13783C3.00694 6.26838 2.85 6.33366 2.66667 6.33366Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
}


@media screen and (max-width: 1440px) {
    .visual .slick-prev,
    .visual .slick-next {
        display: none !important; 
        /* css 적용 우선순위 상관없이 무조건 먼저 실행하도록 하는 명령
            important 
            ---  단 주의 하나의 요소에 pc버전에서 important, 
                모바일에서 important 이렇게 남발하면 스타일이 꼬임
        */
    }
} /* @media */

@media screen and (max-width: 768px) {
    .visual .popup .popup_wrap .popup_item {
        height: 650px;
    }
    .visual .popup .popup_wrap .popup_item h3 {
        font-size: 30px;
        padding: 300px 0 0 0;
    }
    .visual .popup .popup_wrap .popup_item h3 br {
        display: none;
    }
    .visual .popup .popup_wrap .popup_item p {
        display: none;
    }
    .visual ul.slick-dots {
        bottom: 20px;
    }
}

.biz {
    margin: 180px 0 0 0;
}
.biz .tit h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
}
.biz .list {
    margin: 50px 0 0 0;
    width: calc(100% + 24px); /* 오른쪽 여백을 이동 */
}
.biz .list .list_wrap .list_item {
    margin-right: 24px; /* 여백 */
}
.biz .list .list_wrap .list_item a {
    display: block;
}
.biz .list .list_wrap .list_item a .photo {
    overflow: hidden;
    height: 250px;
}
.biz .list .list_wrap .list_item a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.biz .list .list_wrap .list_item a h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 25px 0 10px 0;
    /* 한 줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.biz .list .list_wrap .list_item a p {
    height: 3em;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .biz {
        margin: 80px 0 0 0;
    }
    .biz .tit h2 {
        font-size: 25px;
    }
    .biz .list {
        margin: 30px 0 0 0;
        width: calc(100% + 16px); /* 오른쪽 여백을 이동 */
    }
    .biz .list .list_wrap .list_item {
        margin-right: 16px; /* 여백 */
    }
    .biz .list .list_wrap .list_item a {
        display: block;
    }
    .biz .list .list_wrap .list_item a .photo {
        overflow: hidden;
        height: 220px;
    }
    .biz .list .list_wrap .list_item a h3 {
        font-size: 20px;
        margin: 20px 0 5px 0;
    }
}



.notice {
    margin: 160px 0 0 0;
    background-color: #293373;
    padding: 150px 0 206px 0;
}
.notice .tit h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}
.notice .list {
    margin: 50px 0 0 0;
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    /* wrapper 1260px 의 절반 630px */
}

.notice .list .list_wrap .list_item {
    width: 404px;
    margin-right: 24px;
}

.notice .list .list_wrap .list_item a {
    display: block;
    background-color: #fff;
    color: #555;
    border-radius: 20px;
}
.notice .list .list_wrap .list_item a .photo {
    overflow: hidden;
    height: 320px;
    border-radius: 20px 20px 0 0;
}
.notice .list .list_wrap .list_item a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notice .list .list_wrap .list_item a .txt {
    padding: 40px 30px 60px 30px;
}
.notice .list .list_wrap .list_item a .txt h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 10px 0;

    /* 한 줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice .list .list_wrap .list_item a .txt p {
    height: 4.5em;
    overflow: hidden;
}

@media screen and (max-width: 1300px) { 
    .notice .list {
        width: calc(100% - 20px);
        left: 20px;
    }
} /* @media */


@media screen and (max-width: 768px) {
    .notice {
        margin: 80px 0 0 0;
        padding: 70px 0 70px 0;
    }
    .notice .tit h2 {
        font-size: 25px;
    }
    .notice .list {
        margin: 30px 0 0 0;
        width: calc(100% - 20px);
        position: relative;
        left: 20px;
        /* wrapper 1260px 의 절반 630px */
    }
    .notice .list .list_wrap .list_item {
        width: 264px;
        margin-right: 16px;
    }
    .notice .list .list_wrap .list_item a {
        border-radius: 10px;
    }
    .notice .list .list_wrap .list_item a .photo {
        height: 208px;
        border-radius: 10px 10px 0 0;
    }
    .notice .list .list_wrap .list_item a .txt {
        padding: 20px 20px;
    }
    .notice .list .list_wrap .list_item a .txt h3 {
        font-size: 20px;
    }

} /* @media */




footer {
    margin: 2000px 0 0 0;
}