@import url(default.css);
@import url(font.css);
@import url(common.css);

.section_tit {
    font-family: 'Gmarket Sans';
    font-weight: 700;
    line-height: 1.2;
    font-size: 45px;
    color: #1d1d1d;
}
@media screen and (max-width:640px) {
        .section_tit {
            font-size: 25px;
        }
} /* @media */

header {
    height: 90px;
    position: absolute; /* wrap기준으로 정렬 */
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    z-index: 100; /* 밑위에 배치 */
}
header .wrapper {
    display: flex; /* logo/gnb/tnb 좌우 배치 */
    justify-content: space-between; /* 좌우 끝 */
    align-items: center; /* 위아래 가운데 */
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul {
    display: flex; /* li를 좌우 배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: 'Gmarket Sans';
    font-weight: 500;
    line-height: 90px; 
    /* header의 높이 만큼 행간을 줌 - 그럼 글자가 높이가 header와 같아지고
    위아래 가운데에 글자가 들어감 (밑에 하위메뉴를 열기위한 값) */
    font-size: 20px;
    padding: 0 29px;
}
header .tnb {
    display: flex; /* mypage/lang 좌우 배치 */
    gap: 10px;
}
header .tnb .mypage {
    display: block;
    width: 39px;
    height: 39px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_1860' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_1860)'%3E%3Cpath d='M7.02765 20.1756C8.01931 19.4398 9.09965 18.8587 10.2686 18.4323C11.4375 18.0061 12.6815 17.793 14.0008 17.793C15.3201 17.793 16.5642 18.0061 17.733 18.4323C18.902 18.8587 19.9823 19.4398 20.974 20.1756C21.6993 19.3784 22.2739 18.4555 22.698 17.4071C23.1221 16.3586 23.3341 15.2234 23.3341 14.0013C23.3341 11.4152 22.4251 9.21311 20.6071 7.39505C18.789 5.577 16.5869 4.66797 14.0008 4.66797C11.4147 4.66797 9.21262 5.577 7.39456 7.39505C5.57651 9.21311 4.66748 11.4152 4.66748 14.0013C4.66748 15.2234 4.87952 16.3586 5.30361 17.4071C5.72769 18.4555 6.30237 19.3784 7.02765 20.1756ZM14.0011 14.8763C12.9359 14.8763 12.0377 14.5107 11.3064 13.7796C10.5749 13.0483 10.2091 12.1501 10.2091 11.0849C10.2091 10.0198 10.5747 9.12152 11.3058 8.39022C12.0371 7.65872 12.9354 7.29297 14.0005 7.29297C15.0657 7.29297 15.9639 7.65852 16.6952 8.38963C17.4267 9.12094 17.7925 10.0192 17.7925 11.0843C17.7925 12.1495 17.4269 13.0477 16.6958 13.7791C15.9645 14.5106 15.0663 14.8763 14.0011 14.8763ZM14.0008 25.0846C12.4618 25.0846 11.018 24.7952 9.66956 24.2163C8.32109 23.6375 7.14811 22.8492 6.15061 21.8515C5.15291 20.854 4.36463 19.681 3.78577 18.3326C3.20691 16.9841 2.91748 15.5403 2.91748 14.0013C2.91748 12.4623 3.20691 11.0185 3.78577 9.67005C4.36463 8.32158 5.15291 7.14859 6.15061 6.15109C7.14811 5.1534 8.32109 4.36512 9.66956 3.78626C11.018 3.2074 12.4618 2.91797 14.0008 2.91797C15.5398 2.91797 16.9836 3.2074 18.3321 3.78626C19.6805 4.36512 20.8535 5.1534 21.851 6.15109C22.8487 7.14859 23.637 8.32158 24.2159 9.67005C24.7947 11.0185 25.0841 12.4623 25.0841 14.0013C25.0841 15.5403 24.7947 16.9841 24.2159 18.3326C23.637 19.681 22.8487 20.854 21.851 21.8515C20.8535 22.8492 19.6805 23.6375 18.3321 24.2163C16.9836 24.7952 15.5398 25.0846 14.0008 25.0846ZM14.0008 23.3346C15.0537 23.3346 16.0689 23.1653 17.0464 22.8266C18.0239 22.4876 18.8918 22.0139 19.6501 21.4053C18.8918 20.8188 18.0351 20.3619 17.0802 20.0344C16.1251 19.7068 15.0986 19.543 14.0008 19.543C12.903 19.543 11.8747 19.7048 10.9159 20.0286C9.95705 20.3525 9.10227 20.8114 8.35152 21.4053C9.10986 22.0139 9.97776 22.4876 10.9552 22.8266C11.9327 23.1653 12.9479 23.3346 14.0008 23.3346ZM14.0008 13.1263C14.5812 13.1263 15.0666 12.9311 15.4568 12.5406C15.8473 12.1504 16.0425 11.6651 16.0425 11.0846C16.0425 10.5042 15.8473 10.0189 15.4568 9.62864C15.0666 9.23819 14.5812 9.04297 14.0008 9.04297C13.4204 9.04297 12.9351 9.23819 12.5448 9.62864C12.1544 10.0189 11.9591 10.5042 11.9591 11.0846C11.9591 11.6651 12.1544 12.1504 12.5448 12.5406C12.9351 12.9311 13.4204 13.1263 14.0008 13.1263Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28px; /* 1개만 쓰면 넓이, 높이는 비율에 맞게 알아서 들어감 */
}
header .tnb .lang {
    display: block;
    width: 39px;
    height: 39px;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_1865' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_1865)'%3E%3Cpath d='M14.0008 25.0846C12.4812 25.0846 11.0472 24.7934 9.69873 24.2108C8.35026 23.6282 7.17426 22.8351 6.17073 21.8314C5.16701 20.8279 4.37387 19.6519 3.79131 18.3034C3.20876 16.9549 2.91748 15.5209 2.91748 14.0013C2.91748 12.4697 3.20876 11.0326 3.79131 9.69018C4.37387 8.34773 5.16701 7.17475 6.17073 6.17122C7.17426 5.1675 8.35026 4.37436 9.69873 3.7918C11.0472 3.20925 12.4812 2.91797 14.0008 2.91797C15.5325 2.91797 16.9695 3.20925 18.3119 3.7918C19.6544 4.37436 20.8274 5.1675 21.8309 6.17122C22.8346 7.17475 23.6278 8.34773 24.2103 9.69018C24.7929 11.0326 25.0841 12.4697 25.0841 14.0013C25.0841 15.5209 24.7929 16.9549 24.2103 18.3034C23.6278 19.6519 22.8346 20.8279 21.8309 21.8314C20.8274 22.8351 19.6544 23.6282 18.3119 24.2108C16.9695 24.7934 15.5325 25.0846 14.0008 25.0846ZM14.0008 23.3098C14.5962 22.5202 15.0973 21.7238 15.5041 20.9205C15.9108 20.1173 16.2422 19.2392 16.4981 18.2865H11.5036C11.7744 19.2692 12.1096 20.1622 12.5089 20.9654C12.9081 21.7687 13.4054 22.5501 14.0008 23.3098ZM11.7416 22.989C11.2943 22.3473 10.8927 21.6179 10.5367 20.8006C10.1807 19.9832 9.90397 19.1451 9.7066 18.2865H5.74898C6.36518 19.4981 7.19156 20.516 8.22815 21.3402C9.26473 22.1643 10.4359 22.7139 11.7416 22.989ZM16.2601 22.989C17.5658 22.7139 18.7369 22.1643 19.7735 21.3402C20.8101 20.516 21.6365 19.4981 22.2526 18.2865H18.295C18.0601 19.1525 17.7647 19.9943 17.4086 20.8117C17.0528 21.6292 16.67 22.3549 16.2601 22.989ZM5.01515 16.5365H9.35223C9.27892 16.1029 9.22574 15.6777 9.19269 15.261C9.15983 14.8445 9.1434 14.4246 9.1434 14.0013C9.1434 13.578 9.15983 13.1581 9.19269 12.7416C9.22574 12.3249 9.27892 11.8997 9.35223 11.4661H5.01515C4.90295 11.8624 4.81701 12.2744 4.75731 12.7022C4.69742 13.13 4.66748 13.563 4.66748 14.0013C4.66748 14.4396 4.69742 14.8726 4.75731 15.3004C4.81701 15.7282 4.90295 16.1402 5.01515 16.5365ZM11.1019 16.5365H16.8997C16.9728 16.1029 17.0259 15.6815 17.0589 15.2724C17.0918 14.8633 17.1082 14.4396 17.1082 14.0013C17.1082 13.563 17.0918 13.1393 17.0589 12.7302C17.0259 12.3211 16.9728 11.8997 16.8997 11.4661H11.1019C11.0288 11.8997 10.9757 12.3211 10.9427 12.7302C10.9098 13.1393 10.8934 13.563 10.8934 14.0013C10.8934 14.4396 10.9098 14.8633 10.9427 15.2724C10.9757 15.6815 11.0288 16.1029 11.1019 16.5365ZM18.6494 16.5365H22.9865C23.0987 16.1402 23.1846 15.7282 23.2443 15.3004C23.3042 14.8726 23.3341 14.4396 23.3341 14.0013C23.3341 13.563 23.3042 13.13 23.2443 12.7022C23.1846 12.2744 23.0987 11.8624 22.9865 11.4661H18.6494C18.7227 11.8997 18.7759 12.3249 18.8089 12.7416C18.8418 13.1581 18.8582 13.578 18.8582 14.0013C18.8582 14.4246 18.8418 14.8445 18.8089 15.261C18.7759 15.6777 18.7227 16.1029 18.6494 16.5365ZM18.295 9.71614H22.2526C21.6291 8.48958 20.8083 7.47166 19.7904 6.66239C18.7725 5.8533 17.5957 5.29991 16.2601 5.00222C16.7073 5.68122 17.1051 6.4239 17.4536 7.23026C17.8022 8.03643 18.0827 8.86505 18.295 9.71614ZM11.5036 9.71614H16.4981C16.2272 8.7408 15.8865 7.84218 15.4761 7.02026C15.0654 6.19834 14.5736 5.42251 14.0008 4.69276C13.428 5.42251 12.9362 6.19834 12.5256 7.02026C12.1151 7.84218 11.7744 8.7408 11.5036 9.71614ZM5.74898 9.71614H9.7066C9.91894 8.86505 10.1994 8.03643 10.5481 7.23026C10.8965 6.4239 11.2943 5.68122 11.7416 5.00222C10.3983 5.29991 9.21972 5.85525 8.20569 6.66822C7.19147 7.481 6.37256 8.49697 5.74898 9.71614Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28px; /* 아이콘 크기 */
}

@media screen and (max-width:640px) {
        header {
            height: 56px;
            border-bottom: 0;
        }
        header .wrapper {
            margin-right: 0;/* 오른쪽 여백만 삭제 - 메뉴 열기 버튼이 오른쪽까지 배치되게 하려고 */
        }
        header .logo a img {
            width: 90px;
        }
        header .gnb .gnb_open {
            display: block; /* none으로 숨김요소를 다른속성만 주면 나타남 */
            width: 56px;
            height: 56px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_66_78' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_66_78)'%3E%3Cpath d='M4.25 7C4.0375 7 3.85942 6.92808 3.71575 6.78425C3.57192 6.64042 3.5 6.46225 3.5 6.24975C3.5 6.03708 3.57192 5.859 3.71575 5.7155C3.85942 5.57183 4.0375 5.5 4.25 5.5H19.75C19.9625 5.5 20.1406 5.57192 20.2843 5.71575C20.4281 5.85958 20.5 6.03775 20.5 6.25025C20.5 6.46292 20.4281 6.641 20.2843 6.7845C20.1406 6.92817 19.9625 7 19.75 7H4.25ZM4.25 18.5C4.0375 18.5 3.85942 18.4281 3.71575 18.2843C3.57192 18.1404 3.5 17.9623 3.5 17.7498C3.5 17.5371 3.57192 17.359 3.71575 17.2155C3.85942 17.0718 4.0375 17 4.25 17H19.75C19.9625 17 20.1406 17.0719 20.2843 17.2158C20.4281 17.3596 20.5 17.5378 20.5 17.7503C20.5 17.9629 20.4281 18.141 20.2843 18.2845C20.1406 18.4282 19.9625 18.5 19.75 18.5H4.25ZM4.25 12.75C4.0375 12.75 3.85942 12.6781 3.71575 12.5342C3.57192 12.3904 3.5 12.2122 3.5 11.9997C3.5 11.7871 3.57192 11.609 3.71575 11.4655C3.85942 11.3218 4.0375 11.25 4.25 11.25H19.75C19.9625 11.25 20.1406 11.3219 20.2843 11.4658C20.4281 11.6096 20.5 11.7878 20.5 12.0003C20.5 12.2129 20.4281 12.391 20.2843 12.5345C20.1406 12.6782 19.9625 12.75 19.75 12.75H4.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 30px;
        }
        header .gnb .gnb_wrap {
            display: none;
        }
        header .tnb {
            display: none; /* mypage/lang 좌우 배치 */
        }
}  /* @media */


.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 900px;
    color: #fff;
}
.visual h2 {
    color: #fff;
    padding: 390px 0 20px 0;
}
@media screen and (max-width:640px) {
        .visual {
            height: auto;/* 높이를 안준 것 처럼  - 콘텐츠 길이 만큼 늘어남*/
            padding: 0 0 222px 0; /* 높이를 auto로 주면 밑 하단이 여백이 없어서 padding으로 해줌 */
        }
        .visual h2 {
            padding: 250px 0 30px 0;
        }
        .visual h2 br {
            display: none; /* 줄바꿈 삭제 */
        }
} /* @media */


.project {
    margin: 180px 0 0 0;
}
.project .wrapper {
    display: flex; /* tit/list 좌우 배치 */
    justify-content: space-between;
    align-items: flex-start; /* tit의 높이를 존재하는 만큼만 주기 위해서 */
}
.project .tit {
    position: sticky; /* 감싸는 wrapper를 기준으로 정렬 무조건 */
    top: 30px; /* 좌우 정렬 값 주면 안됨.. top값은 상단에 고정되었을 때 위치값 
    sticky의 단점 : 감싸는 요소 중에 단한개라도 overflow:hidden; 값을 가지고 있으면 적용 안됨. 
    사실상 못쓴다고 생각하면 됨.*/
}
.project .tit h2 {
    color: #0948A5;
    margin: 0 0 30px 0;
}
.project .list {
    width: 57.54%; /* 725/1260*100=57.54 */
    margin: 170px 0 0 0;
}
.project .list ul {
    display: flex;
    flex-wrap: wrap; /* 2줄 이상 허용 */
    gap: 24px;
}
.project .list ul li {
    width: calc(50% - 12px);
    /* 100% / 한줄에 보일 li 갯수 = 100%/2 = 50%
    한줄에 있는 여백의 총합/ 한줄에 보일 li 갯수 = 24px/2 =12px */
}
.project .list ul li:nth-child(even) { /* even 짝수 선택하는 선택자 / odd 홀수*/
    transform: translateY(-150px);
}

.project .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}
.project .list ul li a .photo { /* photo는 넓이를 주면 안됨 감싸는 li이가 준다. */
    overflow: hidden;
    border-radius: 20px;
    height: 500px;
    position: relative; /* before 정렬의 기준 */
}
.project .list ul li a .photo::before {
    content: "";
    position: absolute; /* photo를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* photo의 크기만큼 꽉 채울려고 */
    background-color: rgba(9,72,165,0.9);
    transition: 0.5s;
    opacity: 0;
}
.project .list ul li a .photo img {
    /* 이미지를 감싸는 영역 photo 사이즈만큼만 나오게 리사이즈(꽉 채워서 들어가라해서 100%로 줌)
    넓이는 li이가 줬고, 높이는 photo가 줌 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 0 30px 50px 30px;
}
.project .list ul li a .txt h3 {
    font-family: 'Gmarket Sans';
    font-weight: 700;
    line-height: 1.2;
    font-size: 25px;
}
.project .list ul li a .txt p {
    display: none;
    /* 숨김 - display: none은 아예 태그가 존재하지 않는 것처럼  */
    margin: 15px 0 20px 0;
}

.project .list ul li a .txt span {
    display: none;
    /* 숨김 - display: none은 아예 태그가 존재하지 않는 것처럼  */
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    padding: 0 21px 0 0;
    position: relative; /* after 정렬의 기준 */
}
.project .list ul li a:hover .txt span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 3px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_2226' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_2226)'%3E%3Cpath d='M9.88734 7.9987L4.86551 2.97686C4.73306 2.84442 4.66856 2.68675 4.67201 2.50386C4.67545 2.32098 4.7434 2.16325 4.87584 2.0307C5.00828 1.89825 5.16595 1.83203 5.34884 1.83203C5.53173 1.83203 5.68945 1.89825 5.82201 2.0307L10.9258 7.14486C11.0463 7.26542 11.1356 7.40048 11.1937 7.55003C11.2519 7.69959 11.281 7.84914 11.281 7.9987C11.281 8.14825 11.2519 8.29781 11.1937 8.44736C11.1356 8.59692 11.0463 8.73198 10.9258 8.85253L5.81167 13.9667C5.67923 14.0991 5.52328 14.1636 5.34384 14.1602C5.16428 14.1568 5.00828 14.0888 4.87584 13.9564C4.7434 13.8239 4.67717 13.6663 4.67717 13.4834C4.67717 13.3005 4.7434 13.1428 4.87584 13.0102L9.88734 7.9987Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    color: rgba(255,255,255,0.6);
}
.project .list ul li a:hover .txt span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: rgba(255,255,255,0.5);
    width: 87px;
    height: 1px;
}

/******************오버 했을 때******************/

.project .list ul li a:hover .photo::before {
    opacity: 1;
}
.project .list ul li a:hover .txt p {
    display: block; /* none으로 숨긴건 흔히 block으로 보이게 함 */
}
.project .list ul li a:hover .txt span {
    display: inline-block;
}


@media screen and (max-width:640px) {

} /*@media*/




footer {
    margin: 1000px 0 0 0;
}