@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);


.visual {
    position: relative; /* ctrl_wrap, scroll_down 정렬의 기준 */
}

.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
    min-height: 800px;
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual .swiper .swiper-slide .visual_txt {
    position: absolute; /* swiper-slide */
    left: 0;
    top: 25%;
    width: 100%;
    color: #fff;
}
.visual .swiper .swiper-slide .visual_txt .sub_tit {
    margin: 0 0 20px 20px;
}
.visual .swiper .swiper-slide .visual_txt .tit_photo {
    overflow: hidden;
}
.visual .swiper .swiper-slide .visual_txt .tit_photo img {
    width: 100%;
    height: auto;
    max-width: 762px; /* 원본 크기 이상 커지지 않게 제한 */
    display: block;
}
.visual .swiper .swiper-slide .visual_txt .group {
    margin: 106px 0 0 20px;
}
.visual .swiper .swiper-slide .visual_txt .group h3 {
    font-weight: var(--bold-weight);
    margin: 0 0 10px 0;
}
.visual .swiper .swiper-slide .visual_txt .group h3::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: -3px;
    display: inline-block;
    vertical-align: middle;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_7754' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_7754)'%3E%3Cpath d='M12 22C10.2333 22 8.79167 21.7208 7.675 21.1625C6.55833 20.6042 6 19.8833 6 19C6 18.6833 6.07083 18.3917 6.2125 18.125C6.35417 17.8583 6.56667 17.6083 6.85 17.375C7.08333 17.2083 7.3375 17.1417 7.6125 17.175C7.8875 17.2083 8.10833 17.3417 8.275 17.575C8.44167 17.8083 8.50417 18.0625 8.4625 18.3375C8.42083 18.6125 8.28333 18.8333 8.05 19C8.26667 19.2667 8.76667 19.5 9.55 19.7C10.3333 19.9 11.15 20 12 20C12.85 20 13.6667 19.9 14.45 19.7C15.2333 19.5 15.7333 19.2667 15.95 19C15.7167 18.8333 15.5792 18.6125 15.5375 18.3375C15.4958 18.0625 15.5583 17.8083 15.725 17.575C15.8917 17.3417 16.1125 17.2083 16.3875 17.175C16.6625 17.1417 16.9167 17.2083 17.15 17.375C17.4333 17.6083 17.6458 17.8583 17.7875 18.125C17.9292 18.3917 18 18.6833 18 19C18 19.8833 17.4417 20.6042 16.325 21.1625C15.2083 21.7208 13.7667 22 12 22ZM12 18.525C11.8 18.525 11.6 18.4917 11.4 18.425C11.2 18.3583 11.0167 18.2583 10.85 18.125C8.88333 16.5583 7.41667 15.0292 6.45 13.5375C5.48333 12.0458 5 10.5833 5 9.15C5 7.96667 5.2125 6.92917 5.6375 6.0375C6.0625 5.14583 6.60833 4.4 7.275 3.8C7.94167 3.2 8.69167 2.75 9.525 2.45C10.3583 2.15 11.1833 2 12 2C12.8167 2 13.6417 2.15 14.475 2.45C15.3083 2.75 16.0583 3.2 16.725 3.8C17.3917 4.4 17.9375 5.14583 18.3625 6.0375C18.7875 6.92917 19 7.96667 19 9.15C19 10.5833 18.5167 12.0458 17.55 13.5375C16.5833 15.0292 15.1167 16.5583 13.15 18.125C12.9833 18.2583 12.8 18.3583 12.6 18.425C12.4 18.4917 12.2 18.525 12 18.525ZM12 11C12.55 11 13.0208 10.8042 13.4125 10.4125C13.8042 10.0208 14 9.55 14 9C14 8.45 13.8042 7.97917 13.4125 7.5875C13.0208 7.19583 12.55 7 12 7C11.45 7 10.9792 7.19583 10.5875 7.5875C10.1958 7.97917 10 8.45 10 9C10 9.55 10.1958 10.0208 10.5875 10.4125C10.9792 10.8042 11.45 11 12 11Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .swiper .swiper-slide .visual_txt .group p {
    color: rgba(255, 255, 255, 0.8);
    max-width: 500px;
}
.visual .swiper .swiper-slide .visual_txt .group a {
    display: inline-block;
    margin-top: 50px;
    padding: 7px 38px 7px 18px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    position: relative;
}
.visual .swiper .swiper-slide .visual_txt .group a::after {
    content: "";
    position: absolute;
    right: 17px;
    top: 12px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_7759' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' transform='matrix(-1 0 0 1 15 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_7759)'%3E%3Cpath d='M12.7813 7.50025L8.1875 12.094C8.03125 12.2503 7.95573 12.4325 7.96094 12.6409C7.96615 12.8492 8.04688 13.0315 8.20313 13.1878C8.35938 13.344 8.54167 13.4221 8.75 13.4221C8.95833 13.4221 9.14063 13.344 9.29688 13.1878L14.1094 8.39088C14.2344 8.26588 14.3281 8.12525 14.3906 7.969C14.4531 7.81275 14.4844 7.6565 14.4844 7.50025C14.4844 7.344 14.4531 7.18775 14.3906 7.0315C14.3281 6.87525 14.2344 6.73463 14.1094 6.60963L9.29688 1.79713C9.14063 1.64088 8.95573 1.56536 8.74219 1.57056C8.52865 1.57577 8.34375 1.6565 8.1875 1.81275C8.03125 1.969 7.95313 2.15129 7.95313 2.35963C7.95313 2.56796 8.03125 2.75025 8.1875 2.9065L12.7813 7.50025Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .slide_control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    box-sizing: border-box;
    position: absolute; /* 필요 시 위치 조정 */
    bottom: 54%; /* 원하는 위치로 */
    left: calc(50% - 610px);
    color: #fff;
    z-index: 10;
}

.visual .slide_control .paging {
    min-width: 50px;
    white-space: nowrap;
}

.visual .swiper .slide_control .swiper-pagination-fraction {
    width: 0; /* progress-bar width */
}

.visual .slide_control .progress-bar {
    width: 345px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
    border-radius: 1px;
}

.visual .progress-bar .progress {
    height: 100%;
    width: 0%;
    background-color: #fff;
    animation: progressFill 3s linear forwards;
}

@keyframes progressFill {
    from { width: 0%; }
    to { width: 100%; }
}

.visual .ctrl_wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}
.visual .slide_control .ctrl_wrap button {
    width: 18px; 
    height: 18px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.visual .slide_control .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.6624 8.00069L8.1749 13.5132C8.3624 13.7007 8.45303 13.9194 8.44678 14.1694C8.44053 14.4194 8.34365 14.6382 8.15615 14.8257C7.96865 15.0132 7.7499 15.1069 7.4999 15.1069C7.2499 15.1069 7.03115 15.0132 6.84365 14.8257L1.06865 9.06944C0.918652 8.91944 0.806152 8.75069 0.731152 8.56319C0.656152 8.37569 0.618652 8.18819 0.618652 8.00069C0.618652 7.81319 0.656152 7.62569 0.731152 7.43819C0.806152 7.25069 0.918652 7.08194 1.06865 6.93194L6.84365 1.15694C7.03115 0.969443 7.25303 0.878818 7.50928 0.885068C7.76553 0.891318 7.9874 0.988193 8.1749 1.17569C8.3624 1.36319 8.45615 1.58194 8.45615 1.83194C8.45615 2.08194 8.3624 2.30069 8.1749 2.48819L2.6624 8.00069Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .slide_control .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.3376 8.00069L0.825098 13.5132C0.637598 13.7007 0.546973 13.9194 0.553223 14.1694C0.559473 14.4194 0.656348 14.6382 0.843848 14.8257C1.03135 15.0132 1.2501 15.1069 1.5001 15.1069C1.7501 15.1069 1.96885 15.0132 2.15635 14.8257L7.93135 9.06944C8.08135 8.91944 8.19385 8.75069 8.26885 8.56319C8.34385 8.37569 8.38135 8.18819 8.38135 8.00069C8.38135 7.81319 8.34385 7.62569 8.26885 7.43819C8.19385 7.25069 8.08135 7.08194 7.93135 6.93194L2.15635 1.15694C1.96885 0.969443 1.74697 0.878818 1.49072 0.885068C1.23447 0.891318 1.0126 0.988193 0.825098 1.17569C0.637598 1.36319 0.543848 1.58194 0.543848 1.83194C0.543848 2.08194 0.637598 2.30069 0.825098 2.48819L6.3376 8.00069Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .slide_control .ctrl_wrap button.btn_play {
    display: none; /* 정지 버튼을 눌렀을 떄만 나옴 */
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_99_13767' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' transform='matrix(-1 0 0 1 18 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_99_13767)'%3E%3Cpath d='M13.2562 9.63594C13.3687 9.56094 13.4531 9.46719 13.5094 9.35469C13.5656 9.24219 13.5938 9.12344 13.5938 8.99844C13.5938 8.87344 13.5656 8.75469 13.5094 8.64219C13.4531 8.52969 13.3687 8.43594 13.2562 8.36094L7.14375 4.47969C7.08125 4.44219 7.01562 4.41406 6.94687 4.39531C6.87812 4.37656 6.8125 4.36719 6.75 4.36719C6.55 4.36719 6.375 4.43906 6.225 4.58281C6.075 4.72656 6 4.90469 6 5.11719V12.8797C6 13.0922 6.075 13.2703 6.225 13.4141C6.375 13.5578 6.55 13.6297 6.75 13.6297C6.8125 13.6297 6.87812 13.6203 6.94687 13.6016C7.01562 13.5828 7.08125 13.5547 7.14375 13.5172L13.2562 9.63594Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .slide_control .ctrl_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_7741' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_7741)'%3E%3Cpath d='M12 14.25C11.5875 14.25 11.2344 14.1031 10.9406 13.8094C10.6469 13.5156 10.5 13.1625 10.5 12.75V5.25C10.5 4.8375 10.6469 4.48438 10.9406 4.19063C11.2344 3.89688 11.5875 3.75 12 3.75C12.4125 3.75 12.7656 3.89688 13.0594 4.19063C13.3531 4.48438 13.5 4.8375 13.5 5.25V12.75C13.5 13.1625 13.3531 13.5156 13.0594 13.8094C12.7656 14.1031 12.4125 14.25 12 14.25ZM6 14.25C5.5875 14.25 5.23438 14.1031 4.94063 13.8094C4.64688 13.5156 4.5 13.1625 4.5 12.75V5.25C4.5 4.8375 4.64688 4.48438 4.94063 4.19063C5.23438 3.89688 5.5875 3.75 6 3.75C6.4125 3.75 6.76562 3.89688 7.05938 4.19063C7.35313 4.48438 7.5 4.8375 7.5 5.25V12.75C7.5 13.1625 7.35313 13.5156 7.05938 13.8094C6.76562 14.1031 6.4125 14.25 6 14.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}


@media screen and (max-width:1300px){ /* 20 + 20 = 40 + 1260 = 1300  */
    .visual .slide_control {
        left: 40px;
    }
}

@media screen and (max-width:768px) {
    
    .visual .swiper .swiper-slide .visual_txt {
        top: 35%;
    }
    
    .visual .swiper .swiper-slide .visual_txt .sub_tit {
        margin: 0 0 20px 0;
        text-align: center;
    }
    .visual .swiper .swiper-slide .visual_txt .group {
        margin: 80px 0 0 0;
        text-align: center;
    }
    .visual .swiper .swiper-slide .visual_txt .group h3 {
        margin: 0;
    }

    .visual .swiper .swiper-slide .visual_txt .group p {
        display: none;
    }
    .visual .swiper .swiper-slide .visual_txt .group a {
        margin-top: 30px;
        padding: 6px 34px 6px 16px;
    }
    .visual .swiper .swiper-slide .visual_txt .group a::after {
        right: 15px;
        top: 10px;
    }
    .visual .slide_control {
        align-items: center;
        justify-content: center;
        width: 100%;
        bottom: 45%; 
        left: 50%;
        transform: translateX(-50%);
        padding: 0 20px;
    }
    

}/* @media */

@media screen and (max-width:425px) {
    .visual .slide_control {
        bottom: 48%; 
    }
}/* @media */