@import url(font.css); /* html파일에서는 main.csss만 호출, 다른 필요한 css는 main.css가 부름 */
body {
    font-family: 'Pretendard', sans-serif; /* sans-serif = pretendard 없으면 아무거나 갖다가 쓰라는 의미 */
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #555555;
    word-break: keep-all;
}

/********* START :: 태그의 기본 스타일 삭제(초기화) ***********/
h1, h2, h3, h4, h5, h6 {
    font-size: inherit; /* inherit = 브라우저가 주는 값 무시 */
    font-weight: inherit;
}
li {
    list-style: none; /* 앞에 동그라미 삭제 */
}

* { /* * = 와일드 카드로 모든 태그 */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 다른 것을 변경할 때 마음대로 크기를 변경 못하게 한다. */
}

a {
    color: inherit;
    text-decoration: none;
}

address {
    font-style: normal; /* 글자와 기울임 스타일 제거 */
}

/********** END :: 태그의 기본 스타일 삭제(초기화) ***********/
#wrap {
    min-width: 1300px;
    /* 홈페이지 넓이 1260px에 왼쪽/오른쪽에 여백을 20px 정도 줌
    1260 + 20 + 20 = 1300px
    (브라우저가 줄어들었을 때 가로 스크롤바가 생겼을 때 왼쪽/오른쪽 여백) */
    /* min - width은 늘어나는 건 상관없는데 줄어들 때 이거보다 줄어드면 안돼.. */
}

.wrapper {
    width: 1260px;
    margin: 0 auto;
}


header {
    height: 100px; 
    /* header는 대부분 디자인한 높이를 잡아주고 코딩함
    header에는 존재하는 것이 많아서.. */
}
header .wrapper {
    display: flex; /* logo와 gnb를 좌우로 배치 */
    justify-content: space-between;
}
header .logo {
    margin: 37px 0 0 0;
}
header .logo a img {
    width: 103px; /* 이미지는 넓이나 높이 둘 중에 하나면 주면 나머지는 비율에 맞게 조절
    -- 오히려 넓이/높이 모두 주면 찌그러짐 */
}
header .gnb ul {
    display: flex;
}
header .gnb ul a {
    display: block; /* a의 필수 값 */
    font-size: 20px;
    color: #1d1d1d;
    padding: 40px 35px 30px 35px;
}


.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    /* background 한번에 정의                    반복    좌우   위아래    크기 */
    height: 800px;
    color: #fff;
}
.visual h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px; /* 포토샵 값 -20 = -0.02em / -1px = -20 */
    padding: 225px 0 55px 0;
}


.biz {
    margin: 165px 0 0 0;
}
.biz .tit h2 {
    color: #244d8e;
    margin: 0 0 20px 0;
}
.biz .tit p {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
    color: #1d1d1d;
}
.biz .list {
    margin: 50px 0 0 0;
}
.biz .list ul {
    display: flex; /* li들을 좌우로 배치 */
    justify-content: space-between;
}
.biz .list ul li {
    width: 297px;
}
.biz .list ul li a {
    display: block; /* a의 필수 값 */
    text-align: center;
}
.biz .list ul li a h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
    color: #1d1d1d;
    margin: 17px 0 16px 0;
}
.biz .list ul li a .more {
    border: 1px solid #cccccc;
    padding: 18px 0;
    display: block;
    margin: 28px 0 0 0;
}


.brand {
    margin: 125px 0 0 0;
    background: url(../images/brand_bg.png) no-repeat center center / cover;
    height: 900px;
    color: #fff;  /* 흰색(#fff) RGB 값 255 -  */
}
.brand h2 {
    padding: 270px 0 0 0;
}
.brand .sub_tit {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
    margin: 16px 0 60px 0;
}
.brand .cnt {
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 10px 0 0 0;
    color: rgba(255,255,255,0.8);
}



footer {
    padding: 65px 0 70px 0;
    background-color: #191919;
    color: rgb(225,225,225,0.6);
}
footer .f_nav ul {
    display: flex;
    gap: 35px; /* 여백을 띄워준다. */
    color: #fff;
}

footer .f_info {
    display: flex;
    gap: 35px;
    margin: 20px 0 8px 0;
}

